* {
    margin: 0;
    padding: 0; 
}

body {
    overflow-x: hidden;
    max-width: 100%;
    background-color: rgba(157, 215, 226, 1);
}

header {
    background-color: rgba(34, 138, 158, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    height: 150px;
}

.imagem1{
    width: 109px ;
    height: 100px ;
    padding: 40px;

}

nav a {
    text-decoration: none;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

button {
    background-color: black;
    color: white;
    border-radius: 20%;
    height: 40px;
    width: 70px;
}