/*corpo*/
*{
    margin: 0;
    padding: 0; 
}
body{
    overflow-x: hidden;
    max-width:100% ;
    background-color: rgba(157, 215, 226, 1);
/*cabeçalho*/
}
 header{
     background-color: rgba(34, 138, 158, 1);
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-right: 40px;
     height: 150px;
     
     
}
 .imagem1{
     width: 109px ;
     height: 100px ;
     padding: 40px;
}

      
nav{
     margin-right: 50px;
     margin-top: 22px;
     border: -50px;
}
   
ul{
    word-spacing: 30px;
}
a{
    text-decoration: none;
    font-weight: bold;
    color: black;
}


button{
    
    background-color: black;
    color: white;
    border-radius: 20%;
    height: 40px;
    width: 70px;
}
/*Contato*/
h1{
    font-size: 50px;
    position: relative;
    left: 5px;
    top: 8px;
}
.container label{
    position: relative;
    display: flex;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
text{
    text-align: right;
    margin-right: 10px;
}
.grupo1{
    display:inline-block;
    padding: 5px;
    border: 1px ;
    border-radius: 3px;
    margin-top: 12px;
    
}
.input1{
    width: 250px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
   
    
    
}
.grupo2 {
    display:inline-block;
    padding: 5px;
    border: 1px ;
    border-radius: 3px;
    margin-left: 100px;
}
.input2{
    width: 300px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
   
}


.grupo3 input,
.grupo4 textarea {
    width: 97%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 6px;

}
.grupo3{
    margin-top: 50px;
}
.grupo4{
    margin-top: 50px;

}
textarea{
    height: 150px;
}
.btnenviar {
    
    width:99%; 
    height: 30px;
    border-radius: 5px;
    margin-left:5px ;
    margin-top: 45px;
}



/*divisão da main*/

.container {
    display: flex; 

}

.formulario, .local {
    flex: 1; 
    margin: 10px; 
    padding: 20px; 
}

.formulario {
    background-color:#9dd7e2 ;
    
}

.local{
    background-color:#9dd7e2 ;

}
/*mapa*/
iframe{    
    border-radius: 20px;
    position: relative;
    top: 40px;
}
section h2{
    font-size: 50px;
    position: relative;
}
 p{
    position: relative;
    top: 30px;
    left: 190px;
    font-weight: bold ;   
}

/*footer*/
.conteinerfooter{
    background-color: #9dd7e2 ;
    padding: 20px;
    display: flex;
    margin-top: 50px;
    
}    
.h2viajoy{
    font-size: 50px;
}

 .p {
    font-size: 17px;
    position: static;
    right: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.links{
    margin-top: 27px;
}
.links ul{
    margin-top: 20px;
    list-style-type: none;
}
.links li{
    margin-top: 10px;
}
.sobrenos{
    word-spacing: 2px;
}
.termos{
    margin-top: 27px;
    margin-left: 120px;
}
.condicoesdeuso{
    word-spacing: 4px;
}
.politicadeprivacidade{
    word-spacing: 4px;
    margin-top: 15px;
}
.termosecondicoes{
    word-spacing: 4px;
    margin-top: 15px;
}

.termos ul{
    margin-top: 20px;
    list-style-type: none;
}
#imagens{
    display: flex;
    list-style-type: none;
    margin-top: 180px;
}

.h2endereco{
    margin-left: 187px;
    margin-top: 27px;
}
.endereco p{ 
    margin-top: -10px;
}
.img1{
    width: 25px;
    height: 25px;
    margin-left: -94px;
}
.img2{
    width: 25px;
    height: 25px;
    margin-left: -30px;
}
.img3{
    width: 25px;
    height: 25px;
    margin-left: 30px;
}
.img4{
    width: 25px;
    height: 25px;
    margin-left: 40px;
}
