/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
.header {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  padding: 20px;
  background-color: rgba(157, 215, 226, 1); /* Adicionando cor de fundo */
}

h1 {
  font-family: "Bayon", sans-serif;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 20px;
  margin-left: 10px;
}

main {
  padding: 40px;
  background-color: rgba(157, 215, 226, 1); /* Adicionando cor de fundo */
}

/* Estilos para o formulário */
.form-container {
  margin-left: 500px; /* Espaço entre o cabeçalho e o formulário */
}

.form-container form {
  display: flex; /* Para alinhar os elementos internos */
}

.form-container input[type="text"] {
  margin-right: 10px; /* Espaço entre os campos de texto e o botão */
}

/* Estilos para os destinos */
.conteinerpai {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.destino {
  text-align: center;
  height: 300px; /* Defina uma altura fixa para os elementos .destino */
}



.destino img {
  width: 14cm; /* Define a largura em centímetros */
  height: 7cm; /* Define a altura em centímetros */
  object-fit: cover; /* Garante que a imagem cubra o elemento .destino */
  border-radius: 70px; /* Adicione o border-radius desejado */
}